<div id="<%= dom_id evento %>">
  <p>
    <strong>Nome:</strong>
    <%= evento.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= evento.descricao %>
  </p>

  <p>
    <strong>Data evento:</strong>
    <%= evento.data_evento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= evento.status %>
  </p>

</div>
