<h1>Produtos</h1>

<%= link_to 'Criar Novo Produto', new_produto_path %>

<% @produtos.each do |produto| %>

  <%= button_to "Adicionar ao Carrinho", add_to_carrinho_path(produto_id: produto.id), method: :post %>

  <div id="<%= dom_id produto %>">
    <p>
      <strong>Nome:</strong>
      <%= produto.nome %>
    </p>

    <% if produto.imagem.attached? %>
      <%= image_tag produto.imagem, style: "width: 200px; height: auto;" %>
    <% end %>

    <p>
      <%= link_to "Mais sobre este produto", produto %>
    </p>
  </div>
<% end %>
