<body>
<header>
  <nav>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Ver Seu Carrinho', carrinho_path %> |
    <%= link_to 'Ver Eventos', eventos_path %>
    <%# Links de Devise: %>
    <% if usuario_signed_in? %>
      | <%= link_to 'Sair', destroy_usuario_session_path, data: { turbo_method: :delete } %>
    <% else %>
      | <%= link_to 'Entrar', new_usuario_session_path %>
    <% end %>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css">
  </nav>
</header>

<%= yield %>
</body>